# Get independent variables for ML training
### post 2014 to complete Tradehist database. Used to fit ML data on BIS bank lending and IMF CPIS and CDIS flows

* nominal GDP in british pounds
* Bilateral tariffs (duties to imports ratios)
* aggregate trade (total exports and imports in british pounds)
* aggregate tariffs (duties to imports ratios)
* Local exchange rate with British pound
* Population in thousands
* Share of primary sector to GDP
* Share of secondary sector to GDP

In [1]:
import pandas as pd
import world_bank_data as wb
pd.set_option('display.max_rows', 10)

## List of countries

In [21]:
# Countries and associated regions
countries = wb.get_countries()
countries

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.5167
AFE,,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFW,,Africa Western and Central,Aggregates,,Aggregates,Aggregates,,NaN,NaN
...,...,...,...,...,...,...,...,...,...
XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,,Aggregates,Aggregates,,NaN,NaN
YEM,YE,"Yemen, Rep.",Middle East & North Africa,Middle East & North Africa (excluding high inc...,Low income,IDA,Sana'a,44.2075,15.3520
ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.7460
ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IDA,Lusaka,28.2937,-15.3982
ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [22]:
series = wb.get_indicators(topic=3)
series

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
5.0.AMeanIncGr.All,Annualized Mean Income Growth (2004-2014),,LAC Equity Lab,The official indicator to monitor shared prosp...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Economy & Growth
5.0.AMeanIncGr.B40,Annualized Mean Income Growth Bottom 40 Percen...,,LAC Equity Lab,The indicator to monitor shared prosperity is ...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Economy & Growth
5.1.AMeanIncGr.All,Annualized Mean Income Growth (2004-2009),,LAC Equity Lab,The indicator to monitor shared prosperity is ...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Economy & Growth
5.1.AMeanIncGr.B40,Annualized Mean Income Growth Bottom 40 Percen...,,LAC Equity Lab,The indicator to monitor shared prosperity is ...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Economy & Growth
5.2.AMeanIncGr.All,Annualized Mean Income Growth (2009-2014),,LAC Equity Lab,The indicator to monitor shared prosperity is ...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Economy & Growth
...,...,...,...,...,...,...
PA.NUS.PPP,"PPP conversion factor, GDP (LCU per internatio...",,World Development Indicators,Purchasing power parity (PPP) conversion facto...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PPP.05,"2005 PPP conversion factor, GDP (LCU per inter...",,WDI Database Archives,Purchasing power parity conversion factor is t...,"World Bank, International Comparison Program d...",Economy & Growth
PA.NUS.PPPC.RF,Price level ratio of PPP conversion factor (GD...,,World Development Indicators,Price level ratio is the ratio of a purchasing...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PRVT.PP,"PPP conversion factor, private consumption (LC...",,World Development Indicators,Purchasing power parity (PPP) conversion facto...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PRVT.PP.05,"2005 PPP conversion factor, private consumptio...",,WDI Database Archives,Purchasing power parity conversion factor is t...,"World Bank, International Comparison Program d...",Economy & Growth

## Population data

In [23]:
population = wb.get_series('SP.POP.TOTL', date="2014:2020", id_or_value='id', simplify_index=True) / 1000
population["ZWE"]

Year
2014    13586.710
2015    13814.642
2016    14030.338
2017    14236.599
2018    14438.812
2019    14645.473
2020    14862.927
Name: SP.POP.TOTL, dtype: float64

## Pound to local currency data

In [24]:
GDP_DOLLAR = wb.get_series("NY.GDP.MKTP.CD", date="2014:2020", id_or_value='id', simplify_index=True)
GDP_DOLLAR

Country  Year
AFE      2014    9.563187e+11
         2015    8.930997e+11
         2016    8.547519e+11
         2017    9.622690e+11
         2018    9.840320e+11
                     ...
ZWE      2016    2.054868e+10
         2017    1.901533e+10
         2018    1.952362e+10
         2019    1.693243e+10
         2020    1.676851e+10
Name: NY.GDP.MKTP.CD, Length: 1862, dtype: float64

In [25]:
LCU_USD = wb.get_series("PA.NUS.FCRF", date="2014:2020", id_or_value='id', simplify_index=True)
POUND_USD = LCU_USD['GBR']
POUND_LCU = 1 / LCU_USD * POUND_USD
POUND_LCU['ZWE']

Year
2014         NaN
2015         NaN
2016         NaN
2017         NaN
2018         NaN
2019         NaN
2020    0.015196
Name: PA.NUS.FCRF, dtype: float64

## GDP in pounds

In [26]:
GDP_POUND = GDP_DOLLAR * POUND_USD
GDP_POUND['FRA']

Year
2014    1.733346e+12
2015    1.595918e+12
2016    1.830319e+12
2017    2.011391e+12
2018    2.088572e+12
2019    2.127460e+12
2020    2.030342e+12
dtype: float64

## Share of agriculture and industry

In [27]:
primary_sector = wb.get_series("NV.AGR.TOTL.ZS", date="2014:2020", id_or_value='id', simplify_index=True)

In [28]:
secondary_sector = wb.get_series("NV.IND.TOTL.ZS", date="2014:2020", id_or_value='id', simplify_index=True)

## Aggregate Trade

In [29]:
agg_exports = wb.get_series("NE.EXP.GNFS.CD", date="2014:2020", id_or_value='id', simplify_index=True) * POUND_USD

In [30]:
agg_imports = wb.get_series("NE.IMP.GNFS.CD", date="2014:2020", id_or_value='id', simplify_index=True) * POUND_USD
agg_imports['FRA']

Year
2014    5.340804e+11
2015    4.972732e+11
2016    5.647012e+11
2017    6.439110e+11
2018    6.842169e+11
2019    6.967646e+11
2020    6.143430e+11
dtype: float64

## Tariff duties

In [31]:
agg_imports_LCU = wb.get_series("NE.IMP.GNFS.CN", date="2014:2020", id_or_value='id', simplify_index=True)
tariff_duties = wb.get_series("GC.TAX.IMPT.CN", date="2014:2020", id_or_value='id', simplify_index=True) / agg_imports_LCU * 100
tariff_duties['HRV']

Year
2014    0.078142
2015    0.014299
2016   -0.037818
2017   -0.016277
2018    0.004724
2019   -0.000820
2020         NaN
dtype: float64

## Merging all datasets into one

In [34]:
dataframes = [agg_exports.to_frame(), agg_imports.to_frame(), primary_sector.to_frame(), secondary_sector.to_frame(), 
              GDP_POUND.to_frame(), POUND_LCU.to_frame(), population.to_frame(), tariff_duties]
df =  pd.concat(dataframes, axis=1).sort_index()
df = df.reset_index()
df.columns = ['iso', 'year', 'XPTOT', 'IPTOT', "SH_PRIM", "SH_SECD", "GDP", "XCH_RATE", "POP", "TARIFF"]
df

,iso,year,XPTOT,IPTOT,SH_PRIM,SH_SECD,GDP,XCH_RATE,POP,TARIFF
0,ABW,2014,1.327617e+09,1.434997e+09,NaN,NaN,1.696082e+09,0.339514,103.776,NaN
1,ABW,2015,1.412878e+09,1.415358e+09,NaN,NaN,1.939356e+09,0.365668,104.339,NaN
2,ABW,2016,1.587076e+09,1.556114e+09,NaN,NaN,2.209784e+09,0.413762,104.865,NaN
3,ABW,2017,1.743160e+09,1.712091e+09,NaN,NaN,2.402746e+09,0.434065,105.361,NaN
4,ABW,2018,1.771290e+09,1.791139e+09,NaN,NaN,2.400141e+09,0.418733,105.846,NaN
...,...,...,...,...,...,...,...,...,...,...
1857,ZWE,2016,3.035218e+09,4.759836e+09,7.873986,22.115059,1.521906e+10,NaN,14030.338,4.245647
1858,ZWE,2017,2.685886e+09,4.149506e+09,7.713516,19.794798,1.477447e+10,NaN,14236.599,4.408325
1859,ZWE,2018,1.698810e+09,2.772079e+09,5.074000,12.612402,1.463357e+10,NaN,14438.812,5.741368
1860,ZWE,2019,NaN,NaN,NaN,NaN,1.326563e+10,NaN,14645.473,NaN
1861,ZWE,2020,NaN,NaN,NaN,NaN,1.307943e+10,0.015196,14862.927,NaN

In [38]:
df.to_csv(r'X_world_bank_post_2014.csv', index=False)